<div class="container">
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://img.freepik.com/premium-photo/pile-different-gold-jewelry-dark-background-expensive-accessories-womans-wardrobe_77190-19040.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://www.shutterstock.com/image-photo/gold-jewellery-260nw-2547373303.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://img.freepik.com/premium-photo/assortment-gold-jewelry-table_1115439-12382.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
  </div>